$fontFamily: Georgia, 'Times New Roman', serif;

$bodySize: 15px;

$logoSize: $bodySize*2;

$headingFourSize: $bodySize*1.25;
$headingFiveSize: $bodySize*1.1;
$headingSixSize: $bodySize;

$heroHeadingSize: $bodySize*1.5;
$heroBodySize: $bodySize*1;
