$fontFamily: 'Helvetica Neue',Helvetica,Arial,sans-serif;

$bodySize: 14px;

$logoSize: $bodySize*2;

$headingFourSize: $bodySize*1.25;
$headingFiveSize: $bodySize*1.1;
$headingSixSize: $bodySize;

$heroHeadingSize: $bodySize*1.6;
$heroBodySize: $bodySize*1.1;
 