$pageBgColor: #e4e4e4;
$containerBgColor: #fff;

/* Modules */
$logoColor: #a6a6a6;
$logoShadowColor: #fff;
$bodyColor: #888;
$headingColor: #444;
$headingSixColor: darken($bodyColor, 10%);
$linkColor: #3ca7dd;

/* Hero Block */
$heroHeadingColor: #fff;
$heroHeadingLinkColor: #fff;
$heroBodyColor: #bbb;
$heroBodyLinkColor: #fff;
$heroBgColor: #444;

/* Footer */
$footerBgColor: #f2f2f2;
$footerColor: #b3b3b3;